body {
    background: white;
}
div#background {
    position: fixed;
    background: #ccc;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
    left: 0px;
    top: 0px;
    display: none;
    background-size: cover;
}
div#card {
    position: absolute;
    background: rgba(127,127,127,.3);
    border-radius: 25px;
    padding: 25px;
    width: 50%;
    min-height: 100px;
    text-align: center;
    top: 40%;
    left: 25%;
    display: none;
    text-align: center;
}
div#card:hover {
    background: rgba(127,127,127,.5);
}

div#word {
    color: white;
    font-size: 64px;
    font-weight: normal;
    cursor: help;
}

div#translation {
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}
div#example {
    color: #eee;
    font-size: 24px;
    font-weight: normal;
    font-family: sans-serif;
    cursor: pointer;
}
div#transcription {
    color: #eee;
    font-size: 24px;
    font-weight: normal;
    font-family: sans-serif;
    cursor: pointer;
}
div#clock {
    float: right;
    color: white;
    font-family: monospace;
    font-size: 16px;
    padding: 16px;
}
button {
    background: transparent;
    border: 3px solid;
    border-radius: 50%;
    font-size: 48px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    visibility: hidden;
}
#card:hover button {
    visibility: visible;
}

button.good:hover {
    background: rgba(204,0,0,0.5);
}
button.bad:hover {
    background: rgba(0,204,0,0.5);
}
button.good {
    color: green;
}
button.bad {
    color: red;
}
div#links {
    position: absolute;
    text-align: left;
    left: 10px:
    top: 10px;
    color: white;
    font-size: 12px;
    opacity: 0.1;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: 50px;
}
div#links li {
    list-style: none;
    padding-top: 2px;
    padding-bottom: 2px;
}
div#links li a {
    color: white;
}
div#links li:hover a {
    color: #ffdddd;
}
div#links li span {
    display: inline-block;
    width: 32px;
    min-width: 32px;
    height: 24px;
    min-height: 24px;
    text-align: center;
}
div#links:hover {
    background: rgba(50,50,50,0.8);
    opacity: 1.0;
}
#controls {
    margin-top: 10px;
    float: right;
    color: white;
}
#controls i {
    cursor: pointer;
}
span.material-icons {
    max-width: 24px;
}
